body{
	font-family: 'Press Start 2P', cursive;
}
#Window{
	overflow: hidden;
	background-color: gray;
	border: 4px solid black;
	width: 1000px;
	height: 600px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50px;
}
#start{
	font-family: 'Press Start 2P', cursive;
	width: 150px;
	height: 50px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 300px;
	background-color: gray;
	border: 4px solid black;
	display: block;
}
#start:active{
	background-color: white;
}
#menu_button{
	font-family: 'Press Start 2P', cursive;
	width: 100px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: gray;
	border: 4px solid black;
	display: none;
}
#menu_button:active{
	background-color: white;
}
#resume{
	font-family: 'Press Start 2P', cursive;
	width: 100px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: gray;
	border: 4px solid black;
	display: none;
}
#resume:active{
	background-color: white;
}
#save{
	font-family: 'Press Start 2P', cursive;
	width: 100px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 45px;
	background-color: gray;
	border: 4px solid black;
	display: none;
}
#save:active{
	background-color: white;
}
#quit{
	font-family: 'Press Start 2P', cursive;
	width: 100px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 80px;
	background-color: gray;
	border: 4px solid black;
	display: none;
}	
#quit:active{
	background-color: white;
}